.c-input-search-root {
  padding: 10px;
}

.c-list-items {
  background: white;
  width: 255px;
  max-height: 200px;
  overflow-y: scroll;
  position: absolute;
}

.c-item-sub-input {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}