.p-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: no-repeat center url('../../images/bg.jpg');
  background-size: 100% 100%;
  padding: 100px;
  padding-top: 200px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.p-main-content, .p-sort-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.p-sort-data {
  margin-bottom: 100px;
}

.p-c-autocomplete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}