.c-card-root {
  width: 300px;
  height: 350px;
  background: #dff9fb;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 5%;
}

.c-card-top {
  width: 100%;
}

.c-image {
  width: 300px;
  border-radius: 5%;
}

.c-card-buttom {
  width: 100%;
  padding: 10px;
}

.c-card-title {
  font-size: 12px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.c-card-dates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.c-card-date-start, .c-card-date-end {
  display: flex;
  flex-direction: row;
}

.c-card-location {
  display: flex;
  flex-direction: row;
  justify-content: center
}

.c-card-sity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.c-start-data, .c-end-data {
  font-size: 12px;
}