.ui.card {
  height: 300px;
  display: grid !important;
  margin: 0 !important;
  margin-right: 10px !important;
  margin-top: 10px !important;
}

.card-root {
  width: 200px;
  height: 200px;
  background: white;
  display: flex;
  flex-direction: column;
}

.card-top {
  width: 100%;
  height: 100px;
}

.card-buttom {
  width: 100%;
}