.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-header {
  background: #74b9ff;
  height: 50px;
}

.content {
  flex: 1;
  background: #dfe6e9;
  padding: 50px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background: #74b9ff;
  height: 50px;
}